[Unit]
Description=Chakna Camera Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/chakna
ExecStart=/usr/bin/python3 sensors/vision/camera_service_csi.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target